// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tag_cloud {
  line-height: 1.6em;
  .s {
      font-size: 0.96em;
      opacity: 0.6;
  }
  .m {
      font-size: 1.15em;
      opacity: 0.9;
  }
  .l {
      font-size: 1.35em;
  }
}

.imminent {
    color: #FF0000;
    font-weight: bold;
}

.closed {
    color: #AAA;
}
